.PersonalInfo-section{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 40px 60px;
}
.PersonalInfo-section input[type="text"],
.PersonalInfo-section input[type="email"],
.PersonalInfo-section input[type="number"] {
    border: 1px solid grey;
}


@media (max-width:750px) {
    .PersonalInfo-section{
        padding: 40px 20px;
    }
}